// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/assets/bootstrap5/_variables.scss, paste it here and edit the value.


$purple: #5533ff; // Thats a sample how you could change a BootStrap variable.
$primary: $purple;  // Once we've changed the value, we'll also make it the primary brand color.


$primary: #0C2939;
$secondary: #A6BAC8;
$border-radius: 0;
$light: #ffffff;
$navbar-dark-toggler-border-color: transparent;
$navbar-light-toggler-border-color: transparent;
$navbar-dark-color: $light;
$navbar-dark-hover-color: rgba($light, .55);
$navbar-dark-active-color: rgba($light, .55);
$navbar-light-color: $primary;
$navbar-light-hover-color: rgba($primary, .7);
$navbar-light-active-color:rgba($primary, .55);
$offcanvas-vertical-height: 100vh;
$btn-close-white-filter: invert(1) grayscale(0) brightness(200%);
$font-family-base: 'Montserrat', sans-serif;