// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/assets/bootstrap5/_variables.scss, paste it here and edit the value.


$purple: #5533ff; // Thats a sample how you could change a BootStrap variable.
$primary: $purple;  // Once we've changed the value, we'll also make it the primary brand color.

$font-family-base: 'Montserrat', sans-serif;
$headings-font-weight: 400;
$font-size-base: 1.125rem;
$font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-lightbold: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-bolder: bolder;


$display-font-sizes: (
  1: 3.9rem,
  2: 3.5rem,
  3: 3rem,
  4: 2.75rem,
  5: 2.5rem,
  6: 2rem
);
$display-font-weight: 400;

$rinrose: #0C2939;
$rinrose_2: #A6BAC8;
$primary: $rinrose;
$secondary: $rinrose_2;
$border-radius: 0;
$white: #ffffff;
$light: $white;
$black: #000000;

$navbar-dark-toggler-border-color: transparent;
$navbar-light-toggler-border-color: transparent;
$navbar-dark-color: $light;
$navbar-dark-hover-color: rgba($light, .55);
$navbar-dark-active-color: rgba($light, .55);
$navbar-light-color: $primary;
$navbar-light-hover-color: rgba($primary, .7);
$navbar-light-active-color:rgba($primary, .55);

$offcanvas-vertical-height: 100vh;

$btn-close-opacity: 1;
$btn-close-hover-opacity: .5;
$btn-close-padding-x: 0;
$btn-close-width: 50px;
$btn-close-color: $black;
$btn-close-bg: url("data:image/svg+xml,<svg width='52' height='52' viewBox='0 0 52 52' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M15 37.5L36.5 16M15 16L36.5 37.5M51 26C51 39.8071 39.8071 51 26 51C12.1929 51 1 39.8071 1 26C1 12.1929 12.1929 1 26 1C39.8071 1 51 12.1929 51 26Z' stroke='#{$btn-close-color}' stroke-width='2'/><path d='M15 37.5L36.5 16M15 16L36.5 37.5M51 26C51 39.8071 39.8071 51 26 51C12.1929 51 1 39.8071 1 26C1 12.1929 12.1929 1 26 1C39.8071 1 51 12.1929 51 26Z' stroke='#{$btn-close-color}' stroke-width='2'/></svg>");

$btn-border-width: 1px;
$btn-font-size: 0.875;
$btn-padding-x: 2rem;
$btn-padding-y: 0.875rem;
$btn-font-weight: 500;
$btn-line-height: 1em;

$utilities: (
  	"width": (
    	property: width,
    	responsive: true,
    	class: w,
    	values: (
        	10: 10%,
        	20: 20%,
        	25: 25%,
        	30: 30%,
        	40: 40%,
        	50: 50%,
        	60: 60%,
        	70: 70%,
        	75: 75%,
        	80: 80%,
        	90: 80%,
        	100: 100%,
        	auto: auto
      	)
    ),
    "viewport-height": (
      	property: height,
      	responsive: true,
      	class: vh,
      	values: (
      		10: 10vh,
        	20: 20vh,
        	25: 25vh,
        	30: 30vh,
        	40: 40vh,
        	50: 50vh,
        	60: 60vh,
        	70: 70vh,
        	75: 75vh,
        	80: 80vh,
        	90: 80vh,
      		100: 100vh
      	)
    ),
    "font-weight": (
    	property: font-weight,
    	class: fw,
    	values: (
        	light: $font-weight-light,
        	lighter: $font-weight-lighter,
        	normal: $font-weight-normal,
        	bold: $font-weight-bold,
        	semibold: $font-weight-semibold,
        	bolder: $font-weight-bolder,
        	lightbold: $font-weight-lightbold,
      	)
    ),
);