.admin-bar {
    #rinrose_header {
        top: 32px!important;
    }
    #rinrose_header-offcanvas {
        margin-top: 32px!important;
        max-height: calc(100vh - 32px)!important;
    }
}
#rinrose_header {
    .container-fluid {
        padding-left: 5%;
        padding-right: 5%;
    }
}
#wrapper-navbar {
    height: 127px;
}
.btn-link {
  font-weight: $btn-font-weight;
}
ul#rinrose_header-offcanvas_body-nav_menu {
    .menu-item {
        padding: 40px;

        a {
            color: $white;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 43px;
            text-decoration: none;
            line-height: 52px;
        }
    }
}