// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/assets/bootstrap5/_variables.scss, paste it here and edit the value.


$purple: #5533ff; // Thats a sample how you could change a BootStrap variable.
$primary: $purple;  // Once we've changed the value, we'll also make it the primary brand color.

$font-family-base: 'Montserrat', sans-serif;
$rinrose: #0C2939;
$rinrose_2: #A6BAC8;
$primary: $rinrose;
$secondary: $rinrose_2;
$border-radius: 0;
$white: #ffffff;
$light: $white;
$black: #000000;
$navbar-dark-toggler-border-color: transparent;
$navbar-light-toggler-border-color: transparent;
$navbar-dark-color: $light;
$navbar-dark-hover-color: rgba($light, .55);
$navbar-dark-active-color: rgba($light, .55);
$navbar-light-color: $primary;
$navbar-light-hover-color: rgba($primary, .7);
$navbar-light-active-color:rgba($primary, .55);
$offcanvas-vertical-height: 100vh;
$btn-close-opacity: 1;
$btn-close-hover-opacity: .5;
$btn-close-padding-x: 0;
$btn-close-width: 50px;
$btn-close-color: $black;
$btn-close-bg: url("data:image/svg+xml,<svg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'><circle cx='25' cy='25' r='24.5' stroke='#{$btn-close-color}' /><path d='M14 36.5L35.5 15' stroke='#{$btn-close-color}'/><path d='M14 36.5L35.5 15' stroke='#{$btn-close-color}' /><path d='M14 15L35.5 36.5' stroke='#{$btn-close-color}'/><path d='M14 15L35.5 36.5' stroke='#{$btn-close-color}' /></svg>");
$btn-border-width: 1px;
$btn-font-size: 14px;
$btn-padding-x: 1rem;
$btn-font-weight: 500;